//Footer

#footer-main {
	background: $grey;
	padding-top: 90px;

	.content-wrap {
		color: #fff;
		min-height: 325px;
		@include outer-container();
		@include display(flex);
		@include align-items(flex-start);
		min-height: 290px;
		@include justify-content(flex-start);
		@include flex-wrap(wrap);

		@include media($laptopL) {
			margin-left: 4%;
			margin-right: 4%;
			transition: all .2 ease;
		}

		p {
			color: #fff;
			@include flex(0 1 250px);
			margin-right: 20px;
			margin-top: 0;
			margin-bottom: 40px;
		}

		a {
			color: #fff;

			&:hover {
				color: $red;
			}
		}

		.logo {
			@include flex(0 0 100px);
			margin-right: 20px;

			@media screen and (max-width: 720px) {
				display: none;
			}
		}

		.newsletter {
			@include flex(1 0 auto);
			@include display(flex);
			@include justify-content(flex-end);

			@media screen and (max-width: 1068px) {
				@include flex(0 0 100%);
				clear: both;
			}

			div {
				width: 320px;
				display: block;

				@media screen and (max-width: 1068px) {
					@include flex(0 0 100%);
					padding-left: 120px;
				}

				@media screen and (max-width: 720px) {
					padding-left: 0;
					margin-bottom: 40px;
				}
			}

			@media screen and (max-width: 1068px) {
				@include flex(1 0 100%);
				margin: 0 auto;
			}
		}
	}
}

#subfooter {
	background: #000;

	.content-wrap {
		min-height: 325px;
		@include outer-container();
		@include display(flex);
		@include align-items(center);
		@include flex-wrap(wrap);
		min-height: 118px;

		@include media($laptopL) {
			margin-left: 4%;
			margin-right: 4%;
			transition: all .2 ease;
		}

		p {
			color: #fff;
			@include flex(0 1 42%);

			@media screen and (max-width: 1060px) {
				@include flex(0 0 100%);
				text-align: center;
				margin-top: 20px;
			}
		}

		.menu-subfooter-menu-container {

			@media screen and (max-width: 1060px) {
				margin: 0 auto 20px auto;
			}
		}

		ul {
			@include flex(0 1 58%);
			text-align: right;

			@media screen and (max-width: 1060px) {
				@include flex(0 0 100%);
				text-align: center;
				padding-left: 0;
			}

			li {
				display: inline;

				a {
					color: #fff;
					margin-left: 20px;
				}
			}
		}
	}
}