//Header

#superheader {
	min-height: 55px;
	width: 100%;

	.content-wrap {
		@include outer-container();
		@include display(flex);
		@include align-items(center);
		@include justify-content(space-between);

		@include media($laptopL) {
			margin-left: 4%;
			margin-right: 4%;
			transition: all .2 ease;
		}

		.business-info {
			float: left;
			width: 65%;
			color: rgba(0,0,0,0.8);
			font-size: 14px;
			letter-spacing: 0;

			i {
				color: $red;
				display: inline-block;
				margin-right: 2px;

				@media screen and (max-width: 640px) {
					&:nth-of-type(2),
					&:nth-of-type(3) {
						display: none;
					}
				}
			}

			a {
				color: rgba(0,0,0,0.8);
				font-size: 14px;
				letter-spacing: 0;
				margin-right: 15px;
				display: inline-block;
				@include general-transition();

				&:hover {
					color: $red;
				}

				@media screen and (max-width: 640px) {
					&:nth-of-type(2) {
						display: none;
					}
				}
			}

			span {
				@media screen and (max-width: 640px) {
					display: none;
				}
			}
		}

		.menu-superheader-menu-container {
			float: right;
			width: 35%;

			ul#menu-superheader-menu {
				list-style: none;

				li {
					text-transform: uppercase;
					text-align: right;

					a {
						font-size: 14px;
						letter-spacing: 0;
					}
				}
			}
		}
	}
}

#header {
	//min-height: 95px;
	border-top: 4px solid $red;
	background: $grey;
	width: 100%;
	padding: 0;

	&.fixed {
		position: fixed;
		top: 0;
		z-index: 9999;
	}

	.content-wrap {
		@include outer-container();
		@include display(flex);
		@include align-items(center);
		@include justify-content(space-between);
		position: relative;
		height: 82px;

		@include media($laptopL) {
			margin-left: 4%;
			margin-right: 4%;
			transition: all .2 ease;
		}

		.mobile-menu {
			position: absolute;
			top: 82px;
			left: -500px;
			right: -500px;
			min-height: 200px;
			background: $grey;
			display: none;
			z-index: 9990;

			.menu-mobile-menu-container {
				text-align: center;
				width: 300px;
				margin: 0 auto;

				ul#menu-mobile-menu {
					list-style: none;

					li {
						margin-bottom: 7px;

						&:last-of-type {
							margin-bottom: 25px;
						}

						a {
							color: #fff;
							text-transform: uppercase;

							&:hover {
								text-decoration: underline;
							}
						}
					}
				}
			}
		}

		#logo {
			position: absolute;
			width: 115px;
			height: 100px;
			left: 0;
			top: 0;
			z-index: 9998;

			img {
				width: 100%;
				height: auto;
			}
		}

		.menu-primary-navigation-container {
			text-align: right;
			width: 100%;

			@include media($burgertime) {
				display: none;
			}

			ul#menu-primary-navigation {
			    text-align: right;
			    float: right;
			    list-style: none;

			    li {
				    display: inline;

				    a {
					    text-transform: uppercase;
						color: #fff;
						font-size: 14px;
						padding-left: 20px;
						@include general-transition();

						&:hover {
							color: $red;
						}
				    }
			    }
			}
		}

		.burger{
			display: none;
			width: 50px;
			height: 45px;
			float: right;
			position: relative;
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transition: .5s ease-in-out;
			-moz-transition: .5s ease-in-out;
			-o-transition: .5s ease-in-out;
			transition: .5s ease-in-out;
			cursor: pointer;

			@include media($burgertime) {
				display: block;
				margin: 0 0 0 auto;
			}

			span {
				display: block;
				position: absolute;
				height: 4px;
				width: 50%;
				background: #fff;
				opacity: 1;
				-webkit-transform: rotate(0deg);
				-moz-transform: rotate(0deg);
				-o-transform: rotate(0deg);
				transform: rotate(0deg);
				-webkit-transition: .25s ease-in-out;
				-moz-transition: .25s ease-in-out;
				-o-transition: .25s ease-in-out;
				transition: .25s ease-in-out;


				&:nth-child(even) {
					left: 50%;
					border-radius: 0 9px 9px 0;
				}

				&:nth-child(odd) {
				  left:0px;
				  border-radius: 9px 0 0 9px;
				}

				&:nth-child(1),
				&:nth-child(2) {
				  top: 5px;
				}

				&:nth-child(3),
				&:nth-child(4) {
				  top: 18px;
				}

				&:nth-child(5),
				&:nth-child(6) {
				  top: 31px;
				}
			}
		}


		.burger.open {
			margin-right: 0!important;
			width: 50px;
			height: 45px;
			position: relative;


			span {

				&:nth-child(1),
				&:nth-child(6) {
					-webkit-transform: rotate(45deg);
					-moz-transform: rotate(45deg);
					-o-transform: rotate(45deg);
					transform: rotate(45deg);
				}

				&:nth-child(2),
				&:nth-child(5) {
					-webkit-transform: rotate(-45deg);
					-moz-transform: rotate(-45deg);
					-o-transform: rotate(-45deg);
					transform: rotate(-45deg);
				}

				&:nth-child(1) {
					left: 5px;
					top: 10px;
				}

				&:nth-child(2) {
					left: calc(50% - 5px);
					top: 10px;
				}

				&:nth-child(3) {
					left: -50%;
					opacity: 0;
				}

				&:nth-child(4) {
					left: 100%;
					opacity: 0;
				}

				&:nth-child(5) {
					left: 5px;
					top: 25px;
				}

				&:nth-child(6) {
					left: calc(50% - 5px);
					top: 25px;
				}
			}
		}
	}
}

.hide {
	display: none;
}

ul.cart {
	list-style: none;

	.placeholder {
		display: none;
		height: 88px;
	}

	.cart-contents {
	    position: relative;
	    display: flex !important;
	    flex-flow: column nowrap;
	    justify-content: center;
	}

	.cart-contents:before {
	    font-family: 'Font Awesome 5 Free';
	    font-weight: 900;
	    content: "\f07a" !important;
	    font-size: 20px;
	    color: #000;
	}

	.cart-contents:hover {
	    text-decoration: none;
	}

	.cart-contents-count {
	    position: absolute;
	    right: -16px;
	    top: -19px;
	    color: #fff;
	    font-size: 10px;
	    border-radius: 15px;
	    padding: 0px 10px;
	    background: $red;
    }
}
