section.demos {
	@include display(flex);
	@include justify-content(space-between);
	@include flex-wrap(wrap);

	.video-title-wrap {
		@include flex(0 0 31%);
		transition: all .2 ease;

		@include media($tablet) {
			@include flex(0 0 48%);
		}

		@include media($mobileS) {
			@include flex(0 0 100%);
		}

		.embed-container {
			position: relative;
			padding-bottom: 56.25%;
			overflow: hidden;
			max-width: 100%;
			height: auto;

			iframe,
			object,
			embed {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
	}
}

