.post-type-archive-product {

	.woocommerce-notices-wrapper {
		@include outer-container();
		@include media($laptopL) {
			margin-left: auto;
			margin-right: auto;
			transition: all .2 ease;
		}
	}

	ul.products {
		@include outer-container();
		@include media($laptopL) {
			margin-left: auto;
			margin-right: auto;
			transition: all .2 ease;
		}
	}
}